NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY= #from cleck app
CLERK_SECRET_KEY= #from cleck app
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

DATABASE_URL="mysql://username:password@localhost:0000/db_udemy"
UPLOADTHING_TOKEN="" #from uploadthing app

MUX_TOKEN_ID= #from mux app
MUX_TOKEN_SECRET= #from mux app

STRIPE_API_KEY= #from stripe app
STRIPE_WEBHOOK_SECRET= #from stripe app
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_TEACHER_ID= #from cleck app